@model IEnumerable<PlatformDemoDbContext.ServicePlanViewModel>
@{
    ViewData["Title"] = "Service Plans";
}
<div action="row">
    <div class="col-12">
        @foreach (var plan in Model)
        {
                <div class="card mb-2">
                    <div class="card-body">
                         <h4>@plan.DateOfPurchase.ToString("MMM dd, yyyy")</h4>

                         <table class="table table-bordered small">
                             <thead>
                                 <th>Start Date</th>
                                <th>End Date</th>
                                <th>Description</th>
                             </thead>
                             <tbody>
                            @foreach (var timesheet in plan.TimeSheets)
                            {
                                        <tr>
                                            <td>@timesheet.StartDate.ToString("yyyy-MM-dd")</td>
                                            <td>@timesheet.EndDate.ToString("yyyy-MM-dd")</td>
                                            <td>@timesheet.Description</td>
                                        </tr>
                            }   
                             </tbody>
                         </table>
                    </div>
                </div>



        }
    </div>
</div>
