################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PlatformDemoDbContext/obj
/platformDemoWeb/obj
/PlatformDemoDbContext/bin/Debug/net8.0
/platformDemoWeb/bin/Debug/net8.0
